<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>All</string>
	</dict>
	<dict>
		<key>type</key>
		<string>iOS6&amp;iOS5</string>
		<key>items</key>
		<array>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>387</integer>
				<key>uuid</key>
				<string>Social</string>
				<key>image</key>
				<string>Social.jpg</string>
				<key>title</key>
				<string>iOS6-Social Framework</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>211</integer>
				<key>uuid</key>
				<string>Refresh</string>
				<key>image</key>
				<string>Refresh.jpg</string>
				<key>title</key>
				<string>iOS6-UIRefreshControl</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>622</integer>
				<key>uuid</key>
				<string>Activity</string>
				<key>image</key>
				<string>Activity.jpg</string>
				<key>title</key>
				<string>iOS6-UIActivityView</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>593</integer>
				<key>uuid</key>
				<string>Collection</string>
				<key>image</key>
				<string>Collection.jpg</string>
				<key>title</key>
				<string>iOS6-UICollectionView</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>733</integer>
				<key>uuid</key>
				<string>Map</string>
				<key>image</key>
				<string>Map.jpg</string>
				<key>title</key>
				<string>iOS6-Map</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>798</integer>
				<key>uuid</key>
				<string>Passbook</string>
				<key>image</key>
				<string>Passbook.jpg</string>
				<key>title</key>
				<string>iOS6-Passbook</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>446</integer>
				<key>uuid</key>
				<string>Customization</string>
				<key>image</key>
				<string>Customization.jpg</string>
				<key>title</key>
				<string>iOS5-Customization</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>477</integer>
				<key>uuid</key>
				<string>CoreImage</string>
				<key>image</key>
				<string>CoreImage.jpg</string>
				<key>title</key>
				<string>iOS5-CoreImage</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>640</integer>
				<key>uuid</key>
				<string>Page</string>
				<key>image</key>
				<string>Page.jpg</string>
				<key>title</key>
				<string>iOS5-UIPageViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Popular</string>
		<key>items</key>
		<array>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>640</integer>
				<key>uuid</key>
				<string>Path</string>
				<key>image</key>
				<string>Path.jpg</string>
				<key>title</key>
				<string>Like Path</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>776</integer>
				<key>uuid</key>
				<string>Pinterest</string>
				<key>image</key>
				<string>Pinterest.jpg</string>
				<key>title</key>
				<string>Like Pinterest</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>912</integer>
				<key>uuid</key>
				<string>Facebook</string>
				<key>image</key>
				<string>Facebook.jpg</string>
				<key>title</key>
				<string>Like Facebook</string>
			</dict>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>600</integer>
				<key>uuid</key>
				<string>Clear</string>
				<key>image</key>
				<string>Clear.jpg</string>
				<key>title</key>
				<string>Like Clear</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Basic</string>
	</dict>
</array>
</plist>
